#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
tmp/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.TMP
*.exe
*.bin
*.dll

#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml
.vs/
.ntvs_*
obj/*
debug/*


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
